<h1>Please Login</h1>

<p *ngIf="regErr" style="color: red">
    {{errText.password}} <br>
    {{errText.email}}
</p>

<p *ngIf="regTwo">
    Invalid email or password
</p>

<form [formGroup]="form" (submit)="submit()">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>